@import "./theme.css";

@import "./utils/font.css";
@import "./utils/microtip.css";
@import "./utils/popup.css";
@import "./utils/progress.css";
@import "./utils/snackbar.css";

@import "./pages/updater.css";
@import "./pages/config.css";
@import "./pages/home.css";

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background);
  color: var(--color);
  font-family: "Poppins";
  letter-spacing: 0px;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

* {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 4px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-corner {
  background: var(--background);
}

.dragbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 26px;
  -webkit-app-region: drag;
  z-index: 11;
}

.frame {
  background: transparent;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 11;
  -webkit-app-region: no-drag;
}

.button-frame {
  position: relative;
  display: table-cell;
  width: 30px;
  height: 26px;
  transition: color 0.2s, background-color 0.2s;
  color: black;
  cursor: pointer;
}

.button-frame:before {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #f8f9f9;
}

.icon-close:hover {
  background: #e21212;
}

.icon-minimize:hover,
.icon-restore-down:hover,
.icon-maximize:hover,
.update-check-button:hover {
  background-color: #0000009d;
}

.page {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  display: none;
}

.page.active {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
  display: block;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.copyright-version {
  position: fixed;
  right: 20px;
  bottom: 10px;
  font-size: 0.95em;
  color: #bbb;
  z-index: 100;
  user-select: none;
  pointer-events: none;
}
